<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if cart.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', cart, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if cart.persisted? %>
      <%= link_to "Cancel", cart, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", carts_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
