<%= form_with(model: line_item, local: true) do |form| %>
  <% if line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% line_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cart_id %>
    <%= form.text_field :cart_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if line_item.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', line_item, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if line_item.persisted? %>
      <%= link_to "Cancel", line_item, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", line_items_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
